body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-dark {
  background-color: #333; 
}


.navbar-dark .navbar-brand {
  color: white; 
  margin-right: 20px; 
}

.navbar-dark .navbar-nav .nav-link {
  color: white; 
}

.navbar-dark .navbar-toggler-icon {
  background-color: white; 
}

.stats-flexbox {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
  
}

.stats-card {
  flex: 1;
  height : 300px;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  background-color: #E5E4E2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin: 10px;
}

.stats-card h3 {
  margin-top: 5px;
}

.stats-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.data-table {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #ccc; 
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ccc; 
}

/* CompanyCard.css */

/* CompanyCard.css */

.company-card {
  width: 300px;
  height: 200px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F9F6EE;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.company-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-header {
  font-size: 18px;
  font-weight: medium;
  color: #333; /* Grey color */
  text-align: center;
  margin-bottom: 10px;
}

.accuracy-label {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.accuracy-value {
  font-size: 24px;
  font-weight: medium;
  /* color: #007bff; 
  color: #50C878; 
  color: #E4D00A; 
  color: 	#EE4B2B;  */
}
 
/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* Table header styles */
.table th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Table body styles */
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Alternate row background color for better readability */
.table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
